body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexable-container {
    display: flex;
    margin-bottom: 100px;
}

.haif-width {
    width: 50%;
    padding-left: 2%;
}

.haif-width img {
    width: 80%;
}

.LINK-BUTTON {
    text-decoration: none;
    color: rgb(233, 233, 236);
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px 40px;
    font-weight: 700;

}

p {
    text-align: justify;
    padding-bottom: 10px;
}

.top-bannar {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}

.exprience-item {
    padding: 10px;
    margin: 0 5%;
    border-radius: 2%;

    box-shadow: 0 4px 8px 0 rgba(51, 44, 44, 0.2), 0 6px 20px 0 rgba(48, 41, 41, 0.2);
}

#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(15, 3, 121), rgb(2, 129, 108));
    border-image-slice: 1;
}

#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(13, 121, 3), rgb(94, 2, 89));
    border-image-slice: 1;
}

footer p {
    text-align: center;
    color: rgb(1, 13, 24);
    font-weight: bold;
}



















































































: 10%;
}